#!/usr/bin/env bash
#

####################################################################################################
# This is the config file for the 'InstallFullDB.sh' script
####################################################################################################

MYSQL_HOST="${MANGOS_DBHOST}"
MYSQL_PORT="${MANGOS_DBPORT}"
MYSQL_USERNAME="${MANGOS_DBUSER}"
MYSQL_PASSWORD="${MANGOS_DBPASS}"
MYSQL_USERIP="%"

WORLD_DB_NAME="${MANGOS_WORLD_DBNAME}"
REALM_DB_NAME="${MANGOS_REALMD_DBNAME}"
CHAR_DB_NAME="${MANGOS_CHARACTERS_DBNAME}"
LOGS_DB_NAME="${MANGOS_LOGS_DBNAME}"

MYSQL_PATH="/usr/bin/mariadb"
MYSQL_DUMP_PATH="/usr/bin/mariadb-dump"

CORE_PATH="${MANGOS_DIR}"

LOCALES="YES"
FORCE_WAIT="NO"
DEV_UPDATES="NO"
AHBOT="YES"
PLAYERBOTS_DB="YES"
