@charset "utf-8";
/* CSS Document */

body {
background:url("wallpaper/paladin.jpg");
background-repeat: no-repeat;
background-size:cover;
color:#FFF;padding-top:150px;font-family:Verdana;
text-align:center;
}

.form-group {
margin-top:15px;
margin-bottom:15px;
float:center;
text-align:center;
}

.form-control {
float:center;
text-align:center;
margin:auto;
}

.labels {
	float:left;
	text-align:left;
}

.clicker {
	border:1px solid #1f1f1f;
	background: #DC143C;
	background: -moz-linear-gradient(top, #DC143C 0%, #404040 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DC143C), color-stop(100%,#404040));
	background: -webkit-linear-gradient(top, #DC143C 0%,#404040 100%);
	background: -o-linear-gradient(top, #DC143C 0%,#404040 100%);
	background: -ms-linear-gradient(top, #DC143C 0%,#404040 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DC143C', endColorstr='#404040f',GradientType=0 );
	background: linear-gradient(top, #DC143C 0%,#404040 100%);
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height:15px;
	min-width:25px;
	text-align:center;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	width:145px;
	height:30px;
}

.wrapper {
width:398px;
height:330px;
min-height:105px;
max-height:auto;
margin-left:auto;
margin-right:auto;
margin-top:auto;
background:#262626;
opacity:0.85;
filter:alpha(opacity=40);
-moz-border-radius: 5px;
border-radius: 5px;
}

.footer {
width:998px;
height:100px;
min-height:105px;
max-height:auto;
margin-left:auto;
margin-right:auto;
margin-top:300px;
background:#262626;
opacity:0.65;
filter:alpha(opacity=40);
-moz-border-radius: 5px;
border-radius: 5px;
}

.clicker:hover {
	border:1px solid #2f2f2f;
	background: #515151;
	background: -moz-linear-gradient(top, #515151 0%, #2f2f2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515151), color-stop(100%,#2f2f2f));
	background: -webkit-linear-gradient(top, #515151 0%,#2f2f2f 100%);
	background: -o-linear-gradient(top, #515151 0%,#2f2f2f 100%);
	background: -ms-linear-gradient(top, #515151 0%,#2f2f2f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#2f2f2f',GradientType=0 );
	background: linear-gradient(top, #515151 0%,#2f2f2f 100%);
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height:15px;
	min-width:25px;
	text-align:center;
	color:#FFF;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	width:145px;
	height:30px;
}


input {
	background: #373940;
	border: solid 1px #595c66;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	width: auto;
	text-align:center;
	float:center;
	margin:auto;
}

a:link {
	color:#DC143C;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:#DC143C;
}
a:hover {
	text-decoration: none;
	color:#FFF;
}
a:active {
	text-decoration: none;
	color:#DC143C;
}
