<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Error - {{ .Code }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ .Web_Path_Prefix }}static/main.css" rel="stylesheet" type="text/css">
    <link href="{{ .Web_Path_Prefix }}static/styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="{{ .Web_Path_Prefix }}static/favicon.png">
  </head>

  <body class="theme-body">
    <div class="theme-navbar">
      {{ if .Logo_Uri }}
      <div class="theme-navbar__logo-wrap">
          <img class="theme-navbar__logo" src="{{ .Logo_Uri }}"/>
      </div>
      {{ end }}
    </div>

    <div class="dex-kubeconfig-container">

      <div class="theme-panel">
        <h2 class="theme-heading">Error - {{ .Code }}</h2>
        {{ if .Error_Description }}
        <p>An error has ocurred with the following details:</p>
        <p>
            {{ .Error_Description }}
        </p>
        {{ end }}
      </div>
    </div>
  </body>
</html>
