# Ignore the following repositories and files
.DS_Store

# Ignore directories
**/.kube
**/.terraform
**/.secrets/sops/unencrypted
**/hack
output/

# Ignore Talos configuration that is locally decrypted
talos/
!talos/**/*.enc.yaml
!talos/integrations/*

# Ignore VSCODE SOPS decrypted files
**/.decrypted~*
